/* Added by file caller */
    body {
        font-family: 'EB Garamond', serif;
        font-size: 21;
        margin-top: 24;
        margin-bottom: 24;
        margin-right: 24;
        margin-left: 24;
        color: #343434;
        background-color: #C9C8C8;
    }

    table {
    }

    th {
    }

    td {
    }

    td {
    }

    p {
    }

    pre {
        font-family: 'Inconsolata', sans-serif;
        font-size: 18;
        background-color: #121212;
        border-radius: 4px;
        color: #999999;
        line-height: 120%;
        padding: 8px;
        opacity: 0.9;
    }
    code {
        font-family: 'Inconsolata', sans-serif;
        font-size: 18;
        background-color: #121212;
        border-radius: 4px;
        padding: 4px;
        color: #606AB3;
        line-height: 120%;
        opacity: 0.9;
    }

    h1 {
        font-family: 'Special Elite', cursive;
        color: #343434;
        text-align: left;
        vertical-align: bottom;
    }

    h2 {
        font-family: 'Special Elite', cursive;
        color: #343434;
        text-align: left;
        vertical-align: bottom;
    }

    hr {
        padding: 10px;
        border-style: none;
        border-bottom: 1px solid #999999;
    }
